language: python
sudo: false
cache: pip

branches:
  except:
    - /^[^/]+/.*$/

python:
  - "2.7"
  - "pypy"
  - "pypy3"
  - "3.3"
  - "3.4"
  - "3.5"

install:
  - travis_retry pip install --upgrade setuptools pip codecov 'setuptools_scm>=1.9'
  - ./setup.py develop

script:
    python setup.py test

after_script:
    bash <(curl -s https://codecov.io/bash)

notifications:
  irc:
    channels:
      - 'irc.freenode.org#webcore'
    use_notice: true
    skip_join: true
    on_success: change
    on_failure: always
    template:
      - "%{repository_slug}:%{branch}@%{commit} %{message}"
      - "Duration: %{duration} - Details: %{build_url}"
